<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/Images/favicon.ico">
    <title>Welcome - @ViewBag.UserId</title>
    <link rel="stylesheet" href="~/Content/Font-Awesome/css/all.min.css">

    @RenderSection("Styles", false)

    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/AdminLTE/css/adminlte.min.css" />
    <link rel="stylesheet" href="~/Content/AdminLTE/css/adminlte.pages.min.css" />
   
</head>
<body class="hold-transition sidebar-mini text-sm">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item d-none d-sm-inline-block text-right">
                    <a class="nav-link">Welcome:</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block text-left">
                    <a href="#" class="nav-link">@ViewBag.UserId</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-toggle="dropdown" href="#">
                        <i class="fas fa-user" style="color:#b200ff !important;"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header bg-dark">User</span>

                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="far fa-user mr-2"></i>User Profile
                        </a>

                        <div class="dropdown-divider"></div>
                        <a href='@Url.Action("signout", "Main", new { Area = "" })' class="dropdown-item" id="userSignout">
                            <i class="fa fa-sign-out"></i>Logout
                        </a>
                    </div>
                </li>
            </ul>
            <!--
            <div class="ribbon-wrapper ribbon-xl">
                <div class="ribbon bg-warning text-md-5">
                    Under Development
                </div>
            </div>
            -->
        </nav>

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href='@Url.Action("Index","Main",new {Area="" })' class="brand-link">
                <img src="~/Content/AdminLTE/img/logo.png" alt="Logo" class="brand-image" style="opacity: .8">
                <span class="brand-text font-weight-light" style="color: black;font-size:small;font-weight:bold"> <b>IBS UNICORN</b></span>
            </a>

            <div class="sidebar">
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <nav class="mt-2">
                    @Html.Raw(ViewBag.UserMenu)
                </nav>
            </div>
        </aside>

        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        @RenderSection("Header", false)
                    </div>
                </div>
            </div>

            <div class="content pt-2 pb-2">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>

        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2019 <a href="https://pelindosolusilogistik.co.id/">Pelindo Solusi Digital</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                &nbsp;
            </div>
        </footer>



    </div>


    <script type="text/javascript" src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/AdminLTE/js/adminlte.js"></script>

    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/AdminLTE/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Content/AdminLTE/js/pages/dashboard3.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/Scripts/GeneralScript.js"></script>
    <script type="text/javascript">
        $.ajaxSetup({
            error: function (x, e) {
                if (x.status == 401) {
                    //We can show any alert/confirm message before redirect to login page
                    location.reload();
                }
            }
        });

        $(document).ajaxError(function (event, jqxhr, settings, exception) {
            switch (jqxhr.status) {
                case 401:
                    alert(exception);
                    location.reload();
                    break;
                default:
                    alert(exception);
            }
            if (jqxhr.status == 401) {
                alert("401 coi");
            }
        });
    </script>

    @RenderSection("Scripts", false)


</body>
</html>